---
import ContentLimiter from "../../../components/ContentLimiter.astro";

import { Image } from "astro:assets";
// import wideStreet from "./assets/trustedBy/widestreet.png";
import vki from "./assets/trustedBy/vki.png";
import deepImage from "./assets/trustedBy/deep-image.png";
import prusa from "./assets/trustedBy/prusa.png";
// import penske from "./assets/trustedBy/team-penske.png";
import acquinox from "./assets/trustedBy/acquinox.png";
import truevo from "./assets/trustedBy/truevo.png";
import hostinger from "./assets/trustedBy/hostinger.webp";
import outbank from "./assets/trustedBy/outbank.svg";

interface Props {
  forceScroll?: boolean;
}

const { forceScroll = false } = Astro.props;
---

<ContentLimiter>
  <div id="trusted-by" class:list={[{ "force-scroll": forceScroll }]}>
    <p>Trusted by:</p>
    <div class="track-container">
      <div class="track">
        <Image src={prusa} alt="prusa logo image" />
        <!-- <Image src={penske} alt="team penske logo image" /> -->
        <!-- <Image src={wideStreet} alt="widestreet logo image" /> -->
        <Image src={acquinox} alt="acquinox logo image" />
        <Image src={hostinger} alt="hostinger logo image" />
        <Image src={vki} alt="vki logo image" />
        <Image src={truevo} alt="truevo logo image" />
        <Image src={deepImage} alt="deepimage logo image" />
        <img src="/images/data/testimonials/dext-by-iris.png" alt="Dext by Iris logo" />
        <Image src={outbank} alt="outbank logo image" />

        <div class="scroll-duplicate">
          <Image src={prusa} alt="prusa logo image" />
          <!-- <Image src={penske} alt="team penske logo image" /> -->
          <!-- <Image src={wideStreet} alt="widestreet logo image" /> -->
          <Image src={acquinox} alt="acquinox logo image" />
          <Image src={hostinger} alt="hostinger logo image" />
          <Image src={vki} alt="vki logo image" />
          <Image src={truevo} alt="truevo logo image" />
          <Image src={deepImage} alt="deepimage logo image" />
          <img src="/images/data/testimonials/dext-by-iris.png" alt="Dext by Iris logo" />
          <Image src={outbank} alt="outbank logo image" />
        </div>
      </div>
    </div>
  </div>
</ContentLimiter>

<style lang="scss">
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  #trusted-by {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 0;

    p {
      @include typography(h3);
      color: var(--text-body-primary);
      font-size: calc(0.75rem * var(--font-scale-factor));
    }

    .track-container {
      width: 100%;
      overflow: hidden;

      @include break-up(lg) {
        overflow: visible;
      }
    }

    .track {
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 50px;

      img {
        max-height: 48px;
        width: auto;
      }

      @include break-up(lg) {
        flex-flow: row wrap;
        justify-content: space-between;
        row-gap: 12px;
        column-gap: 50px;

        img {
          max-height: 56px;
          width: auto;
        }
      }

      @include break-down(lg) {
        animation: scroll 10s linear infinite;
        width: max-content;
        padding: 15px 0;

        img {
          max-height: 48px;
          width: auto;
        }
      }

      .scroll-duplicate {
        display: flex;
        align-items: center;
        column-gap: 50px;

        @include break-up(lg) {
          display: none;
        }
      }
    }

    &.force-scroll {
      .track-container {
        overflow: hidden;
      }

      .track {
        animation: scroll 20s linear infinite;
        width: max-content;
        padding: 15px 0;
        flex-flow: row nowrap;
        justify-content: flex-start;

        img {
          max-height: 56px;
          width: auto;
        }

        .scroll-duplicate {
          display: flex;
          align-items: center;
          column-gap: 50px;
        }
      }

      @include break-up(lg) {
        .track-container {
          overflow: hidden;
        }

        .track {
          animation: scroll 25s linear infinite;
          width: max-content;
          flex-flow: row nowrap;
          justify-content: flex-start;

          img {
            max-height: 60px;
            width: auto;
          }

          .scroll-duplicate {
            display: flex;
            align-items: center;
            column-gap: 40px;
          }
        }
      }
    }
  }
</style>
