---
import { getCollection } from "astro:content";
import GithubStars from "../components/GithubStars/GithubStars";
import Navigation from "../components/base/Navigation.astro";
import { Button } from "../components/buttons/Button/Button";
import ProductBuiltBy from "../components/product/ProductBuiltBy.astro";
import { ProductFeature } from "../components/product/ProductFeature/ProductFeature";
import ProductImage from "../components/product/ProductImage.astro";
import ProductLayout from "../layouts/ProductLayout.astro";
import ProductSection from "../layouts/ProductSection.astro";
import MatrixSection from "../components/MatrixSection.astro";

const clientFeatures = (await getCollection("client-features")).sort(
  (f1, f2) => f1.data.order - f2.data.order,
);
const title = "Best Desktop WireGuard Client";
const featuredImage = "github.com/DefGuard/defguard.github.io/raw/main/public/images/product/client/main-screen.png";
const imageWidth = "1920";
const imageHeight = "1080";
const url = "https://defguard.net/client/";
const tags = ["defguard", "open source", "wireguard", "mfa", "2fa", "mfa/2fa", "totp", "free", "rust", "tauri"];
---

<ProductLayout
  title={title}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
  url={url}
  tags={tags}
>
  <Navigation activeSlug="/client" />
  <main id="product-content" class="product-main">
    <ProductSection padding="small">
      <header id="main-header">
        <h1>The Best WireGuard® desktop client</h1>
        <p>
          Beautiful open-source, cross-platform client for Enterprise and home usage, with
          real <strong>Wireguard-based Multi-Factor Authentication</strong>.
        </p>
        <GithubStars owner="Defguard" repo="client" client:only="preact" />
        <div class="product-download">
          <a href="/download" rel="nofollow noopener noreferrer" data-astro-prefetch>
            <Button text="Download" size="large" />
          </a>
        </div>
      </header>
    </ProductSection>
    <ProductImage>
      <!-- <Image src={headImage} alt="product image" /> -->
      <img src="/images/product/client/main-screen.png" alt="client main image" />
    </ProductImage>
    <ProductSection padding="large">
      <div class="product-features">
        <h2>Why defguard provides the best WireGuard® client</h2>
        {
          clientFeatures.map(async (f, index) => {
            const { Content } = await f.render();
            return (
              <ProductFeature
                title={f.data.title}
                id={index}
                context="client"
                client:only="preact"
              >
                <Content />
              </ProductFeature>
            );
          })
        }
      </div>
    </ProductSection>
    <ProductSection padding="large" dark>
      <section id="vpn">
        <div class="top">
          <h2>Enterprise VPN & SSO</h2>
          <p>
            Get most features out of your WireGuard® VPN with <a href="/"
              >defguard VPN & SSO</a
            > - <a href="/compare">see a detailed comparison</a> with other Open Source VPN
            management solutions to understand all the benefits!
          </p>
        </div>
        <div class="image-with-title">
          <div class="description">
            <div class="title">
              <p>Site-to-Site & Roadwarrior</p>
            </div>
          </div>
          <div class="image-container">
            <!-- <Image src={overviewImage} alt="overview image" /> -->
            <img src="/images/product/client/overview.png" alt="overview image" />
          </div>
        </div>
      </section>
    </ProductSection>
    <ProductBuiltBy />
    <MatrixSection />
  </main>
</ProductLayout>
