---
import FeaturesTable from "../components/FeaturesTable/FeaturesTable";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductSection from "../layouts/ProductSection.astro";
import { featuresTableData } from "../data/compare-table";
import { Button } from "../components/buttons/Button/Button";

const title = "Comparison of WireGuard VPN solutions";
const featuredImage = "github.com/DefGuard/defguard/raw/main/docs/header.png";
const imageWidth = "1080";
const imageHeight = "256";
---

<BaseLayout
  title={title}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
>
  <Navigation activeSlug="/compare" />
  <main id="compare-page">
    <ProductSection>
      <header id="compare-header">
        <h1>Compare with competition (on date: 2024.08)</h1>
      </header>
      <div id="features-table">
        <FeaturesTable data={featuresTableData} client:only="preact" />
      </div>
      <div class="contact">
        <a href="/pricing">
          <Button size="large" text="Buy Enterprise Support" client:load />
        </a>
      </div>
    </ProductSection>
  </main>
</BaseLayout>

<style lang="scss" is:global>
  #compare-page {
    .contact {
      width: 100%;
      border-top: 1px solid var(--border-separator);
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 30px 10px 0px 10px;

      a {
        text-decoration: none;
      }
    }
  }
  #features-table {
    width: 100%;
    padding-bottom: 70px;
  }
  #compare-header {
    width: 100%;

    h1 {
      @include typography(section);
      text-align: left;
      padding-bottom: 50px;
    }
  }
</style>
