---
import NewsletterSection from "../components/NewsletterSection.astro";
import ProductSection from "../layouts/ProductSection.astro";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "defguard enterprise open-source SSO&VPN with 2FA/MFA";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const description =
  "defguard - enterprise open-source SSO&VPN - the only open-source solution with real WireGuard MFA/2FA & integrated OpenID Connect SSO";
const url = "https://defguard.net/download-confirm/";
---

<BaseLayout
  title={title}
  description={description}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
  url={url}
>
  <Navigation activeSlug="/download-confirm/" />
  <main id="newsletter-page">
    <ProductSection padding="none" id="thanks">
      <h2>
        Thank you for choosing defguard!
      </h2>
      <p>
        In order to download lates version of the server please visit GitHub releases page: 
      </p>
        <a href="https://github.com/DefGuard/defguard/releases">https://github.com/DefGuard/defguard/releases</a>
    </ProductSection>
    <NewsletterSection headerLevel="2" />
  </main>
</BaseLayout>

<style lang="scss" is:global>
  #newsletter-page {
    padding: calc(var(--nav-height) + 100px) 0 100px;
  }

  #thanks {
    padding-bottom: 40px;
    & > * {
      width: 100%;
    }

    h2,
    p {
      text-align: left;
    }

    h2 {
      @include typography(section);
    }

    p {
      @include typography(paragraph);
      padding: 20px 0;
    }
  }
</style>
