---
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { DownloadButtonList } from "../components/download/DownloadButtonList/DownloadButtonList";
import DownloadVersion from "../components/download/DownloadVersion.astro";

const title = "defguard - Zero-Trust WireGuard® 2FA/MFA VPN: Download";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const description =
  "defguard - enterprise open-source SSO&VPN - the only open-source solution with real WireGuard MFA/2FA & integrated OpenID Connect SSO";
---

<BaseLayout
  title={title}
  description={description}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
>
  <Navigation activeSlug="/newsletter" />
  <main id="download-page">
    <header>
      <h1>Download defguard desktop client with WireGuard 2FA/MFA</h1>
    </header>
    <section class="download-section">
      <DownloadButtonList client:load />
      <DownloadVersion />
    </section>
    <hr />
    <!-- <h3>
      By downloading and using defguard, you agree to its <a href="#" target="_self"
        >terms and conditions</a
      >.
    </h3> -->
  </main>
</BaseLayout>

<style lang="scss" is:global>
  #download-page {
    display: flex;
    padding: 100px 240px;
    flex-direction: column;
    gap: 40px;

    h1 {
      @include typography(section);
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      a {
        text-decoration-line: underline;
      }
    }

    hr {
      width: 100%;
    }

    .download-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;

      max-width: 1500px;
    }

    @include break-down(sm) {
      padding: 100px 20px;
      gap: 50px;

      .download-section {
        flex-direction: column;
        gap: 30px;
      }
    }
  }
</style>
