---
import NewsletterSection from "../components/NewsletterSection.astro";
import ProductSection from "../layouts/ProductSection.astro";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "defguard enterprise open-source SSO&VPN with 2FA/MFA";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const description =
  "defguard - enterprise open-source SSO&VPN - the only open-source solution with real WireGuard® MFA/2FA & integrated OpenID Connect SSO";
const url = "https://defguard.net/download-confirm/";
---

<BaseLayout
  title={title}
  description={description}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
  url={url}
>
  <Navigation activeSlug="/download-confirm/" />
  <main id="newsletter-page">
    <ProductSection padding="none" id="thanks">
      <h2>Download defguard server</h2>
      <h3>Latest release</h3>
      <p>
        Version : 1.3.0
        <br />
        Release date: 14.05.2025
      </p>
      <p>
        In order to download lates version of the server please visit GitHub releases
        page:
      </p>
      <p>
        <a href="https://github.com/DefGuard/defguard/releases/tag/v1.3.0">
          https://github.com/DefGuard/defguard/releases/tag/v1.3.0
        </a>
      </p>
      <h3>New features</h3>
      <p>
        <ul>
          <li>
            <b>Access Control / Firewall management</b> - ACLs are for now only available for
            Linux based Defguard Gateway - FreeBSD/OPNSense will come in 1.3.1 stable release.
          </li>
          <li><b>LDAP & Active Directory</b> two-way synchronization</li>
        </ul>
      </p>
    </ProductSection>
    <NewsletterSection headerLevel="2" />
  </main>
</BaseLayout>

<style lang="scss" is:global>
  #newsletter-page {
    padding: calc(var(--nav-height) + 100px) 0 100px;
  }

  #thanks {
    padding-bottom: 40px;
    & > * {
      width: 100%;
    }

    h2,
    p {
      text-align: left;
    }

    h2 {
      @include typography(section);
    }

    p {
      @include typography(paragraph);
      padding: 20px 0;
    }
  }
</style>
