---
import { getCollection } from "astro:content";
import Navigation from "../components/base/Navigation.astro";
import ProductLayout from "../layouts/ProductLayout.astro";
import ProductSection from "../layouts/ProductSection.astro";
import { ProductFeature } from "../components/product/ProductFeature/ProductFeature";
import ProductBuiltBy from "../components/product/ProductBuiltBy.astro";
import MatrixSection from "../components/MatrixSection.astro";
import ImageGallery from "../components/image/ImageGallery.astro";
import BookDemoForm from "../components/form/BookDemoForm/BookDemoForm";

const faqFeatures = (await getCollection("faq")).sort(
  (f1, f2) => f1.data.order - f2.data.order,
);
const title =
  "defguard open-source&on-premise SSO&VPN with 2FA/MFA: Frequently asked questions";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const url = "https://defguard.net/faq/";
const tags = [
  "defguard",
  "migrate",
  "migration",
  "opevpn",
  "wireguard",
  "vpn",
  "2fa/mfa",
  "mfa",
  "2fa",
  "enterprise",
  "opensense",
  "docker",
  "kubernetes",
  "k8s",
  "open source",
  "sso",
  "secure",
  "rust",
];

const form_title = "Book a demo";
---

<ProductLayout
  title={title}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
  url={url}
  tags={tags}
>
  <Navigation activeSlug="/faq" />
  <main id="product-content" class="product-main">
    <ProductSection padding="small">
      <header id="main-header">
        <h1>Frequenty Asked Questions</h1>
        <p>
          defguard is an enterprise and open-source, easy to deploy and manage WireGuard®
          based VPN solution with real 2FA/Multi-Factor Authentication & SSO.
        </p>
      </header>
    </ProductSection>
    <ProductSection padding="small">
      <div class="product-features">
        {
          faqFeatures.map(async (f, index) => {
            const { Content } = await f.render();
            return (
              <ProductFeature
                title={f.data.title}
                id={index}
                context="core"
                client:only="preact"
              >
                <Content />
              </ProductFeature>
            );
          })
        }
      </div>
    </ProductSection>
    <ProductSection padding="none">
      <div class="product-features">
        <BookDemoForm client:only="preact" title={form_title} />
      </div>
    </ProductSection>
    <ProductBuiltBy />
    <MatrixSection />
  </main>
</ProductLayout>
