---
import NewsletterSection from "../components/NewsletterSection.astro";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "defguard enterprise open-source SSO&VPN with 2FA/MFA: Newsletter";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const description =
  "defguard - enterprise open-source SSO&VPN - the only open-source solution with real WireGuard® MFA/2FA & integrated OpenID Connect SSO";
const url = "https://defguard.net/newsletter/";
---

<BaseLayout
  title={title}
  description={description}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
  url={url}
>
  <Navigation activeSlug="/newsletter/" />
  <main id="newsletter-page">
    <NewsletterSection
      headerLevel="1"
      title="Stay Updated on New Releases"
      description="Release notes and occasional news — no spam, just one email per month max."
    />
  </main>
</BaseLayout>

<style lang="scss" is:global>
  .btn.size-normal {
    margin: 0 0 0 auto;
    min-height: unset !important;
    height: 38px;
    border-radius: unset;
    width: 100%;

    @include break-down(lg) {
      margin: 0 auto;
    }
  }
  .btn {
    border-color: var(--text-button-tertiary);

    &:hover {
      border: unset;
      background-color: var(--text-button-tertiary);

      span {
        color: white;
      }
    }
  }

  #newsletter form {
    flex-flow: unset;
  }
  #newsletter-page {
    padding: calc(var(--nav-height) + 100px) 0 100px;
  }
</style>
