---
import NewsletterSection from "../components/NewsletterSection.astro";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "defguard enterprise open-source SSO&VPN with 2FA/MFA: Newsletter";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const description =
  "defguard - enterprise open-source SSO&VPN - the only open-source solution with real WireGuard® MFA/2FA & integrated OpenID Connect SSO";
const url = "https://defguard.net/newsletter/";
---

<BaseLayout
  title={title}
  description={description}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
  url={url}
>
  <Navigation activeSlug="/newsletter/" />
  <main id="newsletter-page">
    <NewsletterSection headerLevel="1" />
  </main>
</BaseLayout>

<style lang="scss" is:global>
  #newsletter-page {
    padding: calc(var(--nav-height) + 100px) 0 100px;
  }
</style>
