---
import { getCollection } from "astro:content";
import Navigation from "../components/base/Navigation.astro";
import ProductLayout from "../layouts/ProductLayout.astro";
import ProductSection from "../layouts/ProductSection.astro";
import { ProductFeature } from "../components/product/ProductFeature/ProductFeature";
import ProductBuiltBy from "../components/product/ProductBuiltBy.astro";
import MatrixSection from "../components/MatrixSection.astro";
import ImageGallery from "../components/image/ImageGallery.astro";
import BookDemoForm from "../components/form/BookDemoForm/BookDemoForm";
import MigrateIllustration from "/public/svg/migrate-illustration.svg?raw";

const openvpnFeatures = (await getCollection("openvpn-features")).sort(
  (f1, f2) => f1.data.order - f2.data.order,
);
const title =
  "defguard Zero-Trust WireGuard速 2FA/MFA VPN: Migrate from OpenVPN to WireGuard速";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const url = "https://defguard.net/openvpn/";
const tags = [
  "defguard",
  "migrate",
  "migration",
  "opevpn",
  "WireGuard速",
  "vpn",
  "2fa/mfa",
  "mfa",
  "2fa",
  "enterprise",
  "opensense",
  "docker",
  "kubernetes",
  "k8s",
  "open source",
  "sso",
  "secure",
  "rust",
];
---

<ProductLayout
  title={title}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
  url={url}
  tags={tags}
>
  <Navigation activeSlug="/openvpn/" />
  <main id="product-content" class="product-main">
    <ProductSection padding="small">
      <header id="main-header">
        <h1>Migrate<br />from OpenVPN</h1>
        <p>
          Defguard is an enterprise and open-source, easy to deploy and manage WireGuard速
          based VPN solution with real 2FA/Multi-Factor Authentication & SSO.
        </p>
      </header>
    </ProductSection>
    <ProductSection padding="none">
      <Fragment set:html={MigrateIllustration} />
    </ProductSection>
    <ProductSection padding="small">
      <div class="product-features">
        <h3>Why migrate from OpenVPN to defguard:</h3>
        {
          openvpnFeatures.map(async (f, index) => {
            const { Content } = await f.render();
            return (
              <ProductFeature title={f.data.title} id={index} context="core" client:load>
                <Content />
              </ProductFeature>
            );
          })
        }
      </div>
    </ProductSection>
    <ImageGallery />
    <ProductSection padding="none">
      <div class="product-features">
        <BookDemoForm client:load />
      </div>
    </ProductSection>
    <ProductBuiltBy />
    <MatrixSection />
  </main>
</ProductLayout>
