---
import { getCollection } from "astro:content";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductSection from "../layouts/ProductSection.astro";
import OrganizationJSONLD from "../scripts/OrganizationJSONLD.astro";
import BookDemoForm from "../components/form/BookDemoForm/BookDemoForm";
import PricingHeaderContent from "../data/pricing/page-header.mdx";
import { PricingCards } from "../components/pricing/Pricing";
import ContentLimiter from "../components/ContentLimiter.astro";

const pricingCollection = await getCollection("pricing");
// sort and map to prop type
const pricingData = pricingCollection
  .filter((p) => !p.data.disabled)
  .sort((p1, p2) => p1.data.order - p2.data.order)
  .map((p) => ({ ...p.data, content: p.body, id: p.id }));

const title =
  "defguard enterprise open-source SSO&VPN with 2FA/MFA: Pricing for Enterprise";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const description =
  "defguard - enterprise open-source SSO&VPN - the only open-source solution with real WireGuard MFA/2FA & integrated OpenID Connect SSO";
const url = "https://defguard.net/pricing/";
const tags = [
  "defguard",
  "wireguard",
  "free",
  "open source",
  "premium",
  "enterprise",
  "openid",
  "ldap",
  "openldap",
  "mfa/2fa",
  "yubikey",
  "site-to-site",
  "vpn",
  "support",
  "call support",
  "sso",
  "security",
];
---

<BaseLayout
  title={title}
  description={description}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
>
  <OrganizationJSONLD
    slot="schema"
    title={title}
    description={description}
    url={url}
    tags={tags}
  />
  <Navigation activeSlug="/pricing" />
  <main id="pricing-page">
    <ContentLimiter contentId="pricing-tiers" maxWidth={1100}>
      <header>
        <h1>Pricing</h1>
        <PricingHeaderContent />
      </header>
      <PricingCards client:load data={pricingData} />
      <div class="product-features">
        <div class="form-description">
          <h3>Looking for custom deployment or features?</h3>
          <p>
            We provide consulting or custom deployment and security services.  You also can commission us to deliver custom features or integrations  (for the server and/or the client). Just fill out the form below.
          </p>
          <h3>You need an enterprise features for free?</h3>
          <p>
            If you are a: <strong>non profit organization</strong> or <strong>open source project</strong>, please contact us by filling out the form below for Enterprise license.
          </p>
        </div>
        <BookDemoForm client:only="preact" />
      </div>
    </ContentLimiter>
  </main>

  <style lang="scss" is:global>
    #pricing-tiers {
      padding-top: calc(200px - var(--nav-height));
      h1 {
        @include typography(section);
      }

      h2 {
        @include typography(pricebox-title);
      }

      h3 {
        @include typography(pricebox-price);
      }

      h4 {
        @include typography(pricebox-section);
      }

      header {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 50px;
        gap: 20px;

        h1 {
          text-align: left;
        }

        h2 {
          @include typography(h2);
        }

        section.license-section {
          display: flex;
          @include typography(paragraph);

          .license-about {
            width: 100%;
            max-width: 55ch;
            padding-right: 30px;
          }

          hr {
            padding: 0;
            margin: 0 20px 0 20px;
          }

          .license-points {
            & > a {
              text-decoration: underline;
            }
            @include font-scalable(16px);
          }
        }

        @include break-down(lg) {
          section.license-section {
            display: flex;
            flex-flow: column;

            .license-about {
              max-width: 100%;
            }

            hr {
              margin: 20px 0 20px 0;
            }

            .license-points {
              justify-content: flex-start;
              @include typography(paragraph);
            }
          }
        }
      }

      .contact {
        border-top: 1px solid var(--border-separator);
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 30px 10px 10px;

        a {
          text-decoration: none;
        }
      }

      & > * {
        width: 100%;
      }

      .product-features {
        padding-top: 100px;
        .form-description {
          width: 100%;
          display: flex;
          flex-flow: column;
          row-gap: 30px;
          padding-bottom: 30px;

          h3 {
            @include typography(pricebox-section);
            font-weight: 600;
          }

          p {
            @include typography(paragraph);

            strong {
              font-weight: 600;
            }
          }
        }
      }
    }
  </style>
</BaseLayout>
