---
import { getCollection } from "astro:content";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductSection from "../layouts/ProductSection.astro";
import OrganizationJSONLD from "../scripts/OrganizationJSONLD.astro";
import BookDemoForm from "../components/form/BookDemoForm/BookDemoForm";
import PricingHeaderContent from "../data/pricing/page-header.mdx";
import { PricingCards } from "../components/pricing/Pricing";
import ContentLimiter from "../components/ContentLimiter.astro";

const pricingCollection = await getCollection("pricing");
// sort and map to prop type
const pricingData = pricingCollection
  .filter((p) => !p.data.disabled)
  .sort((p1, p2) => p1.data.order - p2.data.order)
  .map((p) => ({ ...p.data, content: p.body, id: p.id }));

const title =
  "defguard enterprise open-source SSO&VPN with 2FA/MFA: Pricing for Enterprise";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const description =
  "defguard - enterprise open-source SSO&VPN - the only open-source solution with real WireGuard MFA/2FA & integrated OpenID Connect SSO";
const url = "https://defguard.net/pricing/";
const tags = [
  "defguard",
  "wireguard",
  "free",
  "open source",
  "premium",
  "enterprise",
  "openid",
  "ldap",
  "openldap",
  "mfa/2fa",
  "yubikey",
  "site-to-site",
  "vpn",
  "support",
  "call support",
  "sso",
  "security",
];
---

<BaseLayout
  title={title}
  description={description}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
>
  <OrganizationJSONLD
    slot="schema"
    title={title}
    description={description}
    url={url}
    tags={tags}
  />
  <Navigation activeSlug="/pricing" />
  <main id="pricing-page">
    <ContentLimiter contentId="pricing-tiers" maxWidth={1100}>
      <header>
        <h1>Pricing</h1>
        <PricingHeaderContent />
      </header>
      <PricingCards client:load data={pricingData} />
      <div id="sla-support">
        <div id="sla-card">
          <div class="left">
            <p>Enterprise<br /><span>SLA Support</span></p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="705"
              height="66"
              viewBox="0 0 705 66"
              fill="none"
            >
              <path
                d="M-10.7083 50.607L49.7319 4.33191C52.8212 1.96665 57.1127 1.96682 60.2018 4.3323L117.17 47.9556C119.86 50.0154 123.507 50.3065 126.49 48.6994L133.443 44.9525C135.456 43.8677 137.818 43.6283 140.008 44.2869L167.754 52.6317C169.398 53.126 171.151 53.1179 172.79 52.6085L198.499 44.617C200.301 44.0568 202.237 44.1042 204.01 44.7519L226.384 52.9267C228.387 53.6585 230.59 53.6212 232.567 52.822L244.317 48.0718C245.589 47.5575 246.965 47.3547 248.332 47.4802L292.117 51.5041C292.721 51.5596 293.317 51.6786 293.896 51.8593L313.59 58.008C315.395 58.5716 317.336 58.5252 319.112 57.876L336.712 51.4435C338.918 50.6371 341.358 50.767 343.466 51.8031L365.202 62.4857C369.004 64.3544 373.601 63.1795 376.041 59.7155L407.563 14.9519C411.303 9.64109 419.352 10.2253 422.286 16.0206L438.281 47.6171C440.378 51.7589 445.381 53.4931 449.591 51.5376L470.079 42.0223C471.836 41.2062 473.817 41.0066 475.701 41.4556L520.731 52.1838C521.47 52.3599 522.23 52.4374 522.99 52.4142L600.626 50.0415C601.037 50.029 601.446 49.987 601.851 49.916L618.201 47.0471C619.193 46.8731 620.208 46.8744 621.199 47.051L640.169 50.4297C640.683 50.5213 641.205 50.5659 641.727 50.563L660.864 50.4565C661.814 50.4513 662.756 50.2889 663.653 49.976L676.173 45.6078C679.091 44.5897 682.331 45.2135 684.662 47.2424L693.184 54.6578C696.608 57.638 701.758 57.4475 704.954 54.2225L748.495 10.2736C752.181 6.55284 758.308 6.95735 761.473 11.1305L791.939 51.3C793.991 54.0055 797.441 55.2525 800.748 54.484L813.679 51.4795C815.107 51.1476 816.596 51.186 818.006 51.5908L829.8 54.9793C831.708 55.5272 833.745 55.3997 835.569 54.6182L853.328 47.0095C855.05 46.2719 856.965 46.1157 858.783 46.5647L904.516 57.8559C906.775 58.4137 909.164 58.0334 911.138 56.8017L937.644 40.2644C940.229 38.6518 943.473 38.525 946.176 39.9308L960.878 47.5783C961.819 48.068 962.843 48.3795 963.898 48.497L971.702 49.367C972.771 49.4861 973.852 49.4041 974.89 49.1252L995.955 43.4664C996.811 43.2365 997.697 43.1401 998.582 43.1806L1015.92 43.9729C1016.47 43.9981 1017.02 43.9701 1017.57 43.889L1035.14 41.2878C1035.73 41.2018 1036.31 41.1755 1036.9 41.2092L1115.15 45.712C1117.08 45.8226 1118.98 45.2858 1120.56 44.1872L1124.03 41.7769C1126.44 40.1018 1129.54 39.7706 1132.25 40.8982L1164.29 54.225C1166.43 55.1161 1168.84 55.105 1170.98 54.1943L1221.41 32.6724C1224.26 31.4535 1227.55 31.8668 1230.02 33.7541L1258.57 55.6045C1260.54 57.1116 1263.06 57.6965 1265.49 57.2097L1298.47 50.607L1363.95 28.5989C1365.81 27.9716 1367.84 28.0029 1369.68 28.6875L1427.11 49.986C1429.44 50.8467 1432.01 50.667 1434.19 49.4928L1442.62 44.9525C1444.63 43.8677 1446.99 43.6283 1449.18 44.2869L1476.93 52.6317C1478.57 53.126 1480.33 53.1179 1481.97 52.6085L1507.67 44.617C1509.48 44.0568 1511.41 44.1042 1513.19 44.7519L1533.11 52.0312C1536.46 53.2553 1540.22 52.287 1542.56 49.5963L1567.04 21.4719C1570.66 17.311 1577.2 17.5805 1580.47 22.025L1600.53 49.3103C1601.61 50.7896 1603.15 51.8827 1604.9 52.4298L1622.77 58.008C1624.57 58.5716 1626.51 58.5252 1628.29 57.876L1645.89 51.4435C1648.09 50.6371 1650.53 50.767 1652.64 51.8031L1675.64 63.107C1678.86 64.686 1682.71 64.1124 1685.32 61.6663L1719.22 29.942C1722.89 26.5148 1728.69 26.9307 1731.83 30.8451L1746.99 49.7741C1749.47 52.8684 1753.75 53.8697 1757.34 52.1995L1779.25 42.0223C1781.01 41.2062 1782.99 41.0066 1784.88 41.4556L1829.91 52.1838C1830.65 52.3599 1831.41 52.4374 1832.17 52.4142L1909.82 50.0416C1910.23 50.029 1910.64 49.9869 1911.05 49.9157L1927.38 47.0474C1928.37 46.8732 1929.38 46.8743 1930.38 47.0508L1949.36 50.43C1949.88 50.5214 1950.4 50.5659 1950.92 50.563L1970.04 50.4565C1970.99 50.4513 1971.93 50.2889 1972.83 49.976L1985.35 45.6078C1988.27 44.5897 1991.51 45.2135 1993.84 47.2424L2005.35 57.2559C2007.31 58.9639 2009.94 59.6929 2012.5 59.2392L2063.94 50.1293C2064.86 49.9669 2065.8 49.9544 2066.72 50.0923L2102.86 55.5041C2103.94 55.6648 2105.03 55.6212 2106.09 55.3756L2122.85 51.4795C2124.28 51.1476 2125.77 51.186 2127.18 51.5908L2138.98 54.9794C2140.88 55.5273 2142.92 55.3997 2144.75 54.6182L2162.5 47.0094C2164.23 46.2719 2166.14 46.1156 2167.96 46.5644L2213.71 57.856C2215.97 58.4137 2218.36 58.0329 2220.33 56.8005L2246.82 40.2662C2249.4 38.6526 2252.65 38.5253 2255.35 39.9315L2270.05 47.578C2271 48.0679 2272.02 48.3794 2273.07 48.4968L2280.9 49.3674C2281.97 49.4863 2283.05 49.4042 2284.08 49.1254L2305.15 43.4665C2306.01 43.2365 2306.89 43.1401 2307.78 43.1806L2325.09 43.9728C2325.65 43.9981 2326.2 43.9701 2326.75 43.889L2344.32 41.2878C2344.9 41.2018 2345.49 41.1755 2346.08 41.2092L2424.33 45.712C2426.25 45.8226 2428.16 45.2858 2429.74 44.1871L2433.21 41.7769C2435.62 40.1018 2438.72 39.7706 2441.43 40.8982L2473.46 54.225C2475.61 55.1161 2478.02 55.105 2480.15 54.1943L2530.58 32.6724C2533.44 31.4535 2536.73 31.8668 2539.19 33.7541L2570.84 57.9757"
                stroke="#0C8CE0"
                stroke-width="3.44436"
                stroke-miterlimit="10"
                stroke-linecap="round"></path>
            </svg>
          </div>
        </div>
        <div class="right">
          <h3>Custom Solution</h3>
          <p>
            If your needs require special attention, defguard <strong
              >Enterprise SLA Support</strong
            >
            offers more than standard, with added benefits customized to your exact specifications.
          </p>
          <div class="bottom">
            <a href="mailto:sales@defguard.net">Contact Sales</a>
          </div>
        </div>
      </div>
    </ContentLimiter>
    <div class="product-features">
      <div class="form-description">
        <h3>Looking for custom deployment or features?</h3>
        <p>
          We provide consulting or custom deployment and security services. You also can
          commission us to deliver custom features or integrations (for the server and/or
          the client). Just fill out the form below.
        </p>
        <h3>You need an enterprise features for free?</h3>
        <p>
          If you are a: <strong>non profit organization</strong> or <strong
            >open source project</strong
          >, please contact us by filling out the form below for Enterprise license.
        </p>
      </div>
      <BookDemoForm client:only="preact" />
    </div>
  </main>

  <style lang="scss" is:global>
    #pricing-tiers {
      padding-top: calc(200px - var(--nav-height));
      h1 {
        @include typography(section);
      }

      h2 {
        @include typography(pricebox-title);
      }

      h3 {
        @include typography(pricebox-price);
      }

      h4 {
        @include typography(pricebox-section);
      }

      header {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 50px;
        gap: 20px;

        h1 {
          text-align: left;
        }

        h2 {
          @include typography(h2);
        }

        section.license-section {
          display: flex;
          @include typography(paragraph);

          .license-about {
            width: 100%;
            max-width: 55ch;
            padding-right: 30px;
          }

          hr {
            padding: 0;
            margin: 0 20px 0 20px;
          }

          .license-points {
            & > a {
              text-decoration: underline;
            }
            @include font-scalable(16px);
          }
        }

        @include break-down(lg) {
          section.license-section {
            display: flex;
            flex-flow: column;

            .license-about {
              max-width: 100%;
            }

            hr {
              margin: 20px 0 20px 0;
            }

            .license-points {
              justify-content: flex-start;
              @include typography(paragraph);
            }
          }
        }
      }

      .contact {
        border-top: 1px solid var(--border-separator);
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 30px 10px 10px;

        a {
          text-decoration: none;
        }
      }

      & > * {
        width: 100%;
      }

      .product-features {
        padding-top: 100px;
        .form-description {
          width: 100%;
          display: flex;
          flex-flow: column;
          row-gap: 30px;
          padding-bottom: 30px;

          h3 {
            @include typography(pricebox-section);
            font-weight: 600;
          }

          p {
            @include typography(paragraph);

            strong {
              font-weight: 600;
            }
          }
        }
      }
    }

    #sla-support {
      padding-bottom: 60px;

      #sla-card {
        display: grid;
        grid-template-columns: 1fr 390px;
        grid-template-rows: 1fr;

        & > * {
          width: 100%;
        }

        & > .left {
          grid-column: 1 / 2;
          grid-row: 1;
        }

        & > .right {
          grid-column: 2 / 3;
          grid-row: 1;
          box-sizing: border-box;
          padding: 20px;
          display: flex;
          flex-flow: column;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;

          border-left: 1px solid var(--border-separator);

          & > h3 {
            @include typography(pricebox-title);
          }
          & > p {
            @include typography(h3);

            font-weight: 300;
            strong {
              font-weight: 700;
            }
          }
        }
      }
    }
  </style>
</BaseLayout>
