---
import { getCollection } from "astro:content";
import Navigation from "../components/base/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import OrganizationJSONLD from "../scripts/OrganizationJSONLD.astro";
import BookDemoForm from "../components/form/BookDemoForm/BookDemoForm";
import PricingHeaderContent from "../data/pricing/page-header.mdx";
import { PricingCards } from "../components/pricing/Pricing";
import ContentLimiter from "../components/ContentLimiter.astro";
import FlexibleSection from "../components/FlexibleSection.astro";

const pricingCollection = await getCollection("pricing");
// sort and map to prop type
const pricingData = pricingCollection
  .filter((p) => !p.data.disabled)
  .sort((p1, p2) => p1.data.order - p2.data.order)
  .map((p) => ({ ...p.data, content: p.body, id: p.id }));

const title =
  "defguard enterprise open-source SSO&VPN with 2FA/MFA: Pricing for Enterprise";
const featuredImage =
  "github.com/DefGuard/defguard.github.io/raw/main/public/images/png/defguard.png";
const imageWidth = "1080";
const imageHeight = "540";
const description =
  "defguard - enterprise open-source SSO&VPN - the only open-source solution with real WireGuard® MFA/2FA & integrated OpenID Connect SSO";
const url = "https://defguard.net/pricing/";
const tags = [
  "defguard",
  "WireGuard®",
  "free",
  "open source",
  "premium",
  "enterprise",
  "openid",
  "ldap",
  "openldap",
  "mfa/2fa",
  "yubikey",
  "site-to-site",
  "vpn",
  "support",
  "call support",
  "sso",
  "security",
];
---

<BaseLayout
  title={title}
  description={description}
  featuredImage={featuredImage}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
  url={url}
>
  <OrganizationJSONLD
    slot="schema"
    title={title}
    description={description}
    url={url}
    tags={tags}
  />
  <Navigation activeSlug="/pricing/" />
  <main id="pricing-page">
    <ContentLimiter contentId="pricing-tiers" maxWidth={1100}>
      <header>
        <FlexibleSection
          title="Pricing"
          titleTag="h1"
          id="blog-header"
          variant="white"
          theme="light"
        >
          <PricingHeaderContent />
        </FlexibleSection>
        <PricingCards client:load data={pricingData} />
      </header>
    </ContentLimiter>

    <div id="get-evaluation-license" class="sla-support-wrapper">
      <div id="sla-support">
        <div class="left">
          <h2>Get a 7-Day Enterprise License Evaluation Key</h2>
          <p class="sla-description">
            For <strong>evaluations</strong> or proof-of-concept testing, we're happy to provide
            a trial license. If you require tailored support, <strong
              >defguard Enterprise SLA</strong
            > offers enhanced service with benefits customized to your organization's specific
            needs.
          </p>
        </div>
        <ContentLimiter contentId="sla-support-content" maxWidth={1100}>
          <div class="product-features">
            <BookDemoForm submit_text="Request Evaluation License" client:load />
          </div>
        </ContentLimiter>
      </div>
    </div>

    <div class="nonprofit-wrapper">
      <div id="nonprofit-section">
        <h2>Request a license for your non-profit organisation.</h2>
        <p class="sla-description">
          If you're a non-profit organization or an open-source project, we'd love to
          support you. Click the button to email us with a short explanation of your
          mission.
        </p>
        <button
          type="submit"
          class="btn size-normal"
          onclick="window.location.href='mailto:sales@defguard.net'"
        >
          <span>Contact Sales</span>
        </button>
      </div>
    </div>

    <style lang="scss" is:global>
      #pricing-container {
        padding-bottom: 40px;
      }

      #pricing-tiers {
        padding-bottom: calc(100px - var(--nav-height));

        @include break-up(md) {
          padding-bottom: calc(200px - var(--nav-height));
        }

        h1 {
          @include typography(section);
        }

        h2 {
          @include typography(pricebox-title);
        }

        h3 {
          @include typography(pricebox-price);
        }

        h4 {
          @include typography(pricebox-section);
        }

        header {
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          width: 100%;
          padding-bottom: 50px;
          gap: 20px;

          h1 {
            text-align: left;
          }

          h2 {
            @include typography(h2);
          }

          section.license-section {
            display: flex;
            @include typography(paragraph);

            .license-about {
              width: 100%;
              max-width: 55ch;
              padding-right: 30px;
            }

            hr {
              padding: 0;
              margin: 0 20px 0 20px;
            }

            .license-points {
              & > a {
                text-decoration: underline;
              }
              @include font-scalable(16px);
            }
          }

          @include break-down(lg) {
            section.license-section {
              display: flex;
              flex-flow: column;

              .license-about {
                max-width: 100%;
              }

              hr {
                margin: 20px 0 20px 0;
              }

              .license-points {
                justify-content: flex-start;
                @include typography(paragraph);
              }
            }
          }
        }

        .contact {
          border-top: 1px solid var(--border-separator);
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          padding: 30px 10px 10px;

          a {
            text-decoration: none;
          }
        }

        & > * {
          width: 100%;
        }

        .product-features {
          padding-top: 2rem;
          .form-description {
            width: 100%;
            display: flex;
            flex-flow: column;
            row-gap: 30px;
            padding-bottom: 30px;

            h3 {
              @include typography(pricebox-section);
              font-weight: 600;
            }

            p {
              @include typography(paragraph);

              strong {
                font-weight: 600;
              }
            }
          }
        }
      }

      .sla-support-wrapper {
        width: 100%;
        background-color: var(--background-secondary, #f5f5f5);
        padding: 60px 0;
      }

      #sla-support {
        width: 100%;
        position: relative;

        .left {
          position: relative;
          width: 100%;

          & > h2 {
            @include typography(paragraph);
            box-sizing: border-box;
            font-family: "Poppins";
            font-size: 36px;
            font-weight: 400;
            line-height: 1.14;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 0;
            max-width: 1100px;
            margin: 0 auto;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;

            @include break-up(md) {
              padding-top: 54px;
              padding-left: 20px;
              padding-right: 20px;
              font-size: 55px;
              padding-bottom: 0;
            }
          }
        }

        #sla-support-content {
          width: 100%;
          max-width: 1100px;
          margin: 0 auto;
          padding: 0 20px;
          box-sizing: border-box;
        }
      }

      .nonprofit-wrapper {
        width: 100%;
        background-color: var(--surface-frame-bg);
        padding: 120px 0;
      }

      .sla-description {
        max-width: 1100px;
        margin: 0 auto;
        padding: 30px 20px;
        padding-bottom: 100px;
        box-sizing: border-box;
      }

      #nonprofit-section {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          @include typography(pricebox-section);
          margin-bottom: 30px;
        }

        .sla-description {
          padding-bottom: 20px;
          padding-top: 0px;
        }
      }

      .book .double-inputs {
        z-index: 1000;
      }
    </style>
  </main>
</BaseLayout>
