---
import FloatingLinks from "../components/FloatingLinks.astro";
import Footer from "../components/base/Footer.astro";
import "../styles/global.scss";

const favSizes = [16,32,57,60,70,72,76,96,114,120,128,144,150,152,180,192,310,384,512];
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z2X2PB0P4E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z2X2PB0P4E');
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Enterprise Open Source SSO & VPN (with Multi-Factor Authentication)" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>defguard</title>
    <meta name="description" content="Enterprise Open Source SSO & VPN (with Multi-Factor Authentication)">
    <!-- FIXME: USE LOCAL -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Favicons -->
    {favSizes.map((size) => (<link rel="icon" type="image/png" sizes={`${size}x${size}`} href={`/favicon/favicon-${size}x${size}.png`} />) )}
    <link rel="icon" type="image/ico" href="/favicon/favicon.ico" />
  </head>
  <body>
    <slot />
    <Footer />
    <FloatingLinks />
    <script src="../scripts/theme.ts"></script>
  </body>
</html>
